@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,slnt,wdth,wght,GRAD,XOPQ,XTRA,YOPQ,YTLC@8..144,-10..0,25..151,100..1000,-200..150,27..175,323..603,25..135,416..570&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: "Roboto Flex", sans-serif;
  --font-mono: "Roboto Mono", monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sans);
}

h1 {
  font-size: 13rem;
  line-height: 0.95; /* very tight */
  letter-spacing: -0.05em;
}

h2 {
  font-size: 8rem;
  line-height: 1;
  letter-spacing: -0.04em;
}

h3 {
  font-size: 5rem;
  line-height: 1.05;
  letter-spacing: -0.02em;
}

h4 {
  font-size: 3rem;
  line-height: 1.15;
  letter-spacing: -0.01em;
}

h5 {
  font-size: 2rem;
  line-height: 1.25;
  letter-spacing: 0;
}

h6 {
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: 0.01em;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0;
}
